*{
    background-color: rgb(219, 219, 219);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-top: 80px;
    font-size: 45px;
    font-weight:900;
}

#form{

    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;

}

p{

    font-size: larger;

}

input, select, textarea, button{

    border-radius: 1em;

}

#bottom{

    font-size: larger;
    font-weight: 700;

}

#text{

    font-size:20px;
    text-align: center;
    font-style:initial;
    color: rgb(44, 44, 44);
    font-weight: 600;
}

#informa{

    text-align: center;
    align-items: center;
    border: 5px solid rgb(41, 40, 40);
    border-radius: 15px;
    /* width: 400px; */
    justify-content: center;
   
    position: relative;
    
    
}
