@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@240&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

#menu{

    width: 100%;
    height: 80px;
    background-image: url(../image/logo2.png);
    background-color: rgb(77,77,77);
    background-position: left ;
    background-repeat: no-repeat;
    background-size:400px;
    background-position-x: 50px;
    position: fixed;
    z-index: 1;

}

#menu ul{

    list-style: none; 
    display: inline;
    
}

#menu ul li {

    width: 150px;
    float: right;
    border-radius: 5px;
    background-color: rgba(77, 77, 77, 0.637);

}

#menu a {

    color: rgb(255, 255, 255);
    padding: 29px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: 900;
    background-color: rgba(77, 77, 77, 0);
    
}

#menu ul ul{

    position: absolute;
    visibility:hidden;
    
}

#menu ul li:hover ul{

    visibility: visible;
    position:absolute;
    z-index: 1;
    
}

#menu a:hover{

    background-color: rgba(44, 108, 160, 0.74);
    border-radius: 5px;
    color: black;

}

#menu ul ul li{

    float: none;

}

#black{

    background-color: black;
    width: 100%;
    height: 120px;
    filter: opacity(0.9);

}

#pista{

    background-image: url(../image/pista.jpg); 
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:bottom;
    filter: grayscale(0.6)  brightness(0.7) ;

}

#pista h1{

    line-height: 190px;
    font-size:65px;
    text-align: center;
    font-style:initial;
    color: white;
    font-weight: 900;
    
}

#pista ul li{

    text-align: center;
    font-style:initial;
    color: white;
    font-weight: 900;
    font-size: 30px;

}


#cat1, #cat2, #cat3, #rank{

    background-image: url(../image/2.png);
    color: #FFF;
    height: 250px;
    background-repeat: no-repeat;
    background-position-y: -120px;
    background-size:auto ;
    font-family: 'M PLUS 2';
    text-align:center;
    font-size: 45px;
    font-weight:900;
 
    
}

h2, p {

    margin: 25px;

}

#texto{

    width: 94%;
    margin: 70px;
    text-transform: capitalize;

}

#texto h2{

    font-size:35px;
    text-align: center;
    font-style:initial;
    color: rgb(44, 44, 44);
    font-weight: 900;
    
}

#texto ul li{

    line-height: 1.6em;
    list-style: square;
    margin-left: 60px;

}

#imgrank{

    text-align: center;

}

#rank{

    background-image: url(../image/trofeus.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

footer{

    position:relative;
    bottom: 0px;
    width: 100%;

}

#rodapecor{

    background-color: rgb(77, 77, 77);
    width: 100%;
    padding: 20px; 

}

#rodape{

    background-color: rgb(44, 44, 44);
    padding: 150px;
    width: 100%;   

}


#map, #contato{ 
    
    width: 33.3%;
    list-style-type: none;
    color: white;
    
}

section{

    margin: 50px auto;

    width: 0px;
    height: 150px;

}

.rede{

    width: 90px;
    height: 90px;
    float: left;
    margin-left: 20px;
    transition: all 0.4s ease-out;
    border-radius: 50%;

}

.rede:hover{

    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 4px 30px 16px 0px rgba(0, 0, 0, 0.486);

}

.icone{

    margin: 18px;
    padding: 3px;
    width: 55px;

}

.rede#face{
    background-color: #2372a3;
}

.rede#insta{
    background-color: #3f729b;
}

.rede#twitter{
    background-color: #0084b4;
}



body{

    background-color: rgb(219, 219, 219);

}
